<?xml version="1.0" encoding="UTF-8" ?>
<JWAS>
	<web> <!-- (REQUIRED) -->
		<type>http</type> <!-- Web server type ie. HTTP or HTTPS (REQUIRED if defaultSettings=false) -->
		<port>8080</port> <!-- Port number used to host the web server. (Default for http: 80) (Default for https: 443) (REQUIRED if defaultSettings=false) -->
		<maxThreadCount>16</maxThreadCount>
		<connectionTimeOut>10000</connectionTimeOut>
		<createFolders>true</createFolders> <!-- Create non existing folders for all paths in this config file. (NOT required - default=false) -->
	</web>
	<log> <!-- (REQUIRED) -->
		<path>curDir\logs</path> <!-- Location log files are saved to. (REQUIRED if defaultSettings=false) -->
		<dateFormat>yyyy-MM-dd HH.mm.ss</dateFormat> <!-- Date format for log file names. (REQUIRED if defaultSettings=false) -->
		<logLevel>LOG</logLevel> <!-- Used for logging only certain types of events. (NOT required - default=123) (1-LOG, 2-WARNING, 3-ERROR) -->
	</log>
	<resource> <!-- (REQUIRED) -->
		<path>curDir\Resources</path> <!-- Location of web resources (html, css, js). (REQUIRED - What is the point of hosting a web server with no resources?) -->
	</resource>
	<database> <!-- (Not required) -->
		<ip>localhost</ip> <!-- Address of database server. (NOT required - No defaults) -->
		<port>3306</port> <!-- Port to access database server. (NOT required - No defaults) -->
		<dbName>db_monitor</dbName> <!-- Name of the database to use on the server. (NOT required - No defaults) -->
		<userName>root</userName>
		<password>password</password>
		<newInstance>false</newInstance> <!-- Used to create a new/clean instance of the database. (NOT required - default=false) -->
	</database>
</JWAS>